<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework #3</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div id="app">
       <div class="admin">
        <div class="input">
            <div>  
                <p>Starting Value</p>
                <input type="number" v-model="minValue">
            </div>
            <div>   
                <p>Ending Value</p>
                <input type="number" v-model="maxValue">
            </div>
            <div> 
                <p>Fizz Value</p>  
                <input type="number" v-model="fizzValue">
            </div>
            <div> 
                <p>Buzz Value</p> 
                <input type="number" v-model="buzzValue">
            </div>
        </div>
        <div class="controls">
            <div class="button" @click="generate()">Generate</div>
            <div class="button" @click="clear()">Clear</div>
        </div>
        </div>
        <div class="output">
            <div class="box" v-bind:id="n.id" v-bind:class="n.class" v-for="n in arrayValues">{{ n.value }}</div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>